@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

::-moz-selection { /* Code for Firefox */
    color: rgb(0, 0, 0);
    background: #ffd95c;
}
  
::selection {
    color: rgb(0, 0, 0);
    background: #ffd95c;
}


body {
    padding: 0px;
    margin: 0px;

    background-color: rgb(12, 6, 3);
    color: white;
}

html {
    scroll-behavior: smooth;
    padding: 0px;

  }